[workspace]
members = ["crates/*"]
resolver = "3"

[workspace.dependencies]
prost = "0.14.1"
prost-types = "0.14.1"
tonic = "0.14.2"
tonic-prost = "0.14.2"

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

tokio = { version = "1.45.1", features = ["full"] }
